<div class="main-container">
  <section class="brand-container">
    <img
      class="brand-logo"
      src="../../../../../assets/icons/logo/svgs/logo-black.svg"
      alt="Turbo"
    />
    <span class="text-4xl text-semibold">TurboBot</span>
  </section>

  <section class="form-container">
    <form>
      <input
        type="text"
        class="form-control w-100"
        id="name"
        placeholder="Full Name"
      />
      <input
        type="email"
        class="form-control w-100"
        id="email"
        placeholder="user@example.com"
      />
      <input
        type="password"
        class="form-control w-100"
        id="password"
        placeholder="password"
      />
      <button type="submit" class="x-btn w-100">Sign up</button>
    </form>
  </section>
</div>
