<div class="d-flex flex-column h-100">
  <header>
    <div class="bot-header">
      <nav class="d-flex align-items-center h-auto">
        <div class="new-chat text-medium" (click)="newChatChange()">
          New Chat
        </div>
        <section class="ms-auto auth-actions">
          <button class="x-btn" routerLink="/auth/log-in">Log in</button>
          <button class="x-btn-outline" routerLink="/auth/sign-up">
            Sign up
          </button>
        </section>
      </nav>
    </div>
  </header>

  <section class="chat-container">
    <app-chat [isGuestUser]="true" [newChat]="newChat"></app-chat>
  </section>

  <footer>
    <app-bot-footer></app-bot-footer>
  </footer>
</div>
