.chat-container {
  flex: 1;
  overflow: hidden;
}

.bot-header {
  padding: 1rem;
}

.auth-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

.new-chat-icon {
  background-color: transparent;

  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.new-chat-icon:hover {
  background-color: var(--gray-10);
}

.new-chat-icon svg {
  height: 1.5rem;
  width: 1.5rem;
}
