<div class="d-flex flex-column">
  <header class="h-auto guest-header">
    <nav class="d-flex align-items-center">
      <a class="new-chat text-medium"> New Chat </a>
      <section class="ms-auto auth-actions">
        <button class="x-btn" routerLink="/auth/login">Log in</button>
        <button class="x-btn-outline" routerLink="/auth/sign-up">
          Sign up
        </button>
      </section>
    </nav>
  </header>

  <section class="chat-container">
    <app-chat></app-chat>
  </section>

  <footer class="h-auto">
    <app-bot-footer></app-bot-footer>
  </footer>
</div>
