<div class="main-container">
  <section class="h-auto brand-container">
    <img
      class="brand-logo"
      src="../../../../../assets/icons/logo/svgs/logo-black.svg"
      alt="Turbo"
    />
    <span class="text-xxxl text-semibold">TurboBot</span>
  </section>

  <section class="h-auto form-container">
    <form>
      <input
        type="email"
        class="form-control w-100"
        id="email"
        placeholder="user@example.com"
      />
      <div class="password-container w-100">
        <input
          type="password"
          class="form-control w-100"
          id="password"
          placeholder="password"
        />
      </div>
      <button type="submit" class="x-btn w-100">Login</button>
    </form>
  </section>
</div>
