<div class="main-container">
  <section class="brand-container">
    <img
      class="brand-logo"
      src="../../../../../assets/icons/logo/svgs/logo-black.svg"
      alt="Turbo"
    />
    <div class="text-4xl text-semibold">TurboBot</div>
  </section>

  <section class="form-container">
    <form [formGroup]="reactiveForm">
      <input
        type="email"
        class="form-control w-100"
        [ngClass]="{
          'is-valid': email?.valid,
          'is-invalid': email?.invalid && email?.touched
        }"
        id="email"
        placeholder="user@example.com"
        formControlName="email"
      />
      <span
        *ngIf="email?.invalid && email?.touched"
        class="text-sm text-danger w-100 validtion-error"
      >
        {{ getEmailErrorMessage() }}
      </span>
      <input
        type="password"
        class="form-control w-100"
        [ngClass]="{
          'is-valid': password?.valid,
          'is-invalid': password?.invalid && password?.touched
        }"
        id="password"
        placeholder="password"
        formControlName="password"
      />
      <span
        *ngIf="password?.invalid && password?.touched"
        class="text-sm text-danger w-100 validtion-error"
      >
        {{ getPasswordErrorMessage() }}
      </span>
      <button
        type="submit"
        class="x-btn w-100"
        [disabled]="reactiveForm.invalid"
        (click)="logInWithEmailAndPassword()"
      >
        Log in
      </button>
    </form>
  </section>
</div>
