.message {
  display: flex;
  align-items: start;
  justify-content: start;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.message-container {
  flex: 1;
  margin-left: 0.5rem;
}

.title {
  margin-bottom: 0.5rem;
}

.btn-close:focus {
  box-shadow: none;
}

.success {
  background-color: #eaf6ec;
  border-color: #a9dcb5;
  border-radius: 0.5rem;
}

.success .icon svg path {
  fill: #208637;
}

.success .title {
  color: #208637;
}

.error {
  background-color: #ffeded;
  border-color: #ffb7b7;
  border-radius: 0.5rem;
}

.error .icon svg path {
  fill: #cc3d3d;
}

.error .title {
  color: #cc3d3d;
}

.warning {
  background-color: #fff9e6;
  border-color: #ffe69c;
  border-radius: 0.5rem;
}

.warning .icon svg path {
  fill: #cc9a06;
}

.warning .title {
  color: #cc9a06;
}

.information {
  background-color: #dae9fb;
  border-color: #b5d2f7;
  border-radius: 0.5rem;
}

.information .icon svg path {
  fill: #3872bb;
}

.information .title {
  color: #3872bb;
}

.secondary {
  background-color: #f2f3f4;
  border-color: #caced3;
  border-radius: 0.5rem;
}

.secondary .icon svg path {
  fill: #626a74;
}

.secondary .title {
  color: #626a74;
}
