a {
  color: var(--black);
  text-decoration: underline;
  font-weight: 600;
  opacity: 100%;
  transition: opacity 0.1s ease;
}

a:hover {
  opacity: 85%;
}

.x-btn {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.x-btn:hover {
  background-color: var(--gray-125);
  border-color: var(--gray-125);
}

.x-btn:active {
  background-color: var(--gray-125);
  border-color: var(--gray-125);
}

.x-btn:disabled {
  background-color: var(--gray-115);
  border-color: var(--gray-115);
  cursor: not-allowed;
}

.x-btn span {
  color: var(--white);
}

.x-btn-outline {
  background-color: var(--white);
  color: var(--gray-125);
  border: 1px solid var(--gray-80);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.x-btn-outline:hover {
  background-color: var(--gray-10);
}

.x-btn-outline:active {
  background-color: var(--gray-10);
}

.x-btn-outline:disabled {
  background-color: var(--gray-20);
  cursor: not-allowed;
}

.x-btn-danger {
  background-color: #da2c43;
  color: var(--white);
  border: 1px solid #da2c43;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.x-btn-danger:hover {
  background-color: #c4283c;
  border-color: #c4283c;
}

.x-btn-danger:active {
  background-color: #c4283c;
  border-color: #c4283c;
}

.x-btn-danger:disabled {
  background-color: #e15669;
  border-color: #e15669;
  cursor: not-allowed;
}

.x-btn-danger span {
  color: var(--white);
}
