:root {
  --white: #ffffff;
  --white-5: #f3f3f3;
  --white-10: #e6e6e6;
  --white-20: #cccccc;
  --white-30: #b3b3b3;
  --white-40: #999999;
  --white-50: #808080;
  --white-60: #666666;
  --white-70: #4d4d4d;
  --white-80: #333333;
  --white-90: #1a1a1a;
  --black: #1a1a1a;
}
