/* Base Components */

svg path {
  fill: var(--gray-110);
}

/* Angular Components */

app-toaster {
  height: auto;
  margin: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1200;
}

.custom-modal {
  height: auto;
}
