@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", serif;
  font-size: 1rem;
  color: var(--white-90);
}

/* Font sizes */

.text-s {
  font-size: 0.75rem; /* 12px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
}

.text-base {
  font-size: 1rem; /* 16px */
}

.text-l {
  font-size: 1.125rem; /* 18px */
}

.text-lg {
  font-size: 1.3125rem; /* 21px */
}

.text-xl {
  font-size: 1.5rem; /* 24px */
}

.text-xxl {
  font-size: 2rem; /* 32px */
}

.text-xxxl {
  font-size: 2.5rem; /* 40px */
}

/* Font weights */

.text-thin {
  font-weight: 300; /* Thin font weight */
}

.text-extralight {
  font-weight: 300; /* ExtraLight font weight */
}

.text-light {
  font-weight: 300; /* Light font weight */
}

.text-normal {
  font-weight: 400; /* Normal font weight */
}

.text-medium {
  font-weight: 500; /* Medium font weight */
}

.text-semibold {
  font-weight: 600; /* Semi-bold font weight */
}

.text-bold {
  font-weight: 700; /* Bold font weight */
}

.text-bolder {
  font-weight: 900; /* Extra bold font weight */
}
