.sidebar {
  background-color: var(--gray-5);
  width: 18%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  transition: width 0.3s ease;
}

.top-sidebar-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo,
.collapse-icon svg,
.expand-icon svg,
.new-chat-icon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.collapse-icon {
  margin-left: auto;
}
.collapse-icon,
.expand-icon,
.new-chat-icon {
  cursor: pointer;
}

.new-chat {
  background-color: var(--gray-25);
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 0.55rem;
  cursor: pointer;
}

.new-chat:hover {
  background-color: var(--gray-30);
}

.history-title {
  width: 100%;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

.history {
  scrollbar-color: var(--gray-70) var(--gray-5);
  width: 100%;
  padding-right: 1rem;
  overflow-y: auto;
}

.history-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.history-item {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  cursor: pointer;
}

.history-item span {
  width: 100%;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.history-item-actions {
  width: 1.5rem;
  margin-left: 0.5rem;
  visibility: hidden;
}

.history-item:hover {
  background-color: var(--gray-20);
}

.history-item:hover .history-item-actions {
  visibility: visible;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.home-header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home-header-left,
.home-header-right {
  height: 2rem;
  max-height: 2rem;
}

.home-header-right {
  margin-left: auto;
}

.profile-avatar {
  background-color: var(--gray-25);
  color: var(--gray-110);
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
}

.dropdown-menu {
  margin-right: 0.25rem !important;
  border-radius: 0.5rem !important;
}

.dropdown-menu svg {
  height: 1.25rem;
  width: 1.25rem;
}

.dropdown-item {
  color: var(--gray-125);
  width: auto;
  margin: 0.5rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--gray-15);
}

.dropdown-item:active {
  background-color: var(--gray-15);
}

.chat-container {
  flex: 1;
  overflow: hidden;
}

.main-container-responsive {
  width: 0;
  flex: 0;
  display: none;
}

.sidebar-collapsed {
  width: 0 !important;
  padding: 0 !important;
}

.x-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-close:focus {
  box-shadow: none;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
  }
}
